<!DOCTYPE html>
<html lang="en">
// <html xmlns:th="http://www.thymeleaf.org">

<head>
    <meta charset="UTF-8">
    <title>create new customer</title>
</head>
<body>
create new customer
<form th:object="${customerForm}" method="post" enctype="multipart/form-data">
    <table>
        <tr>
            <td>
                <label>First name:
                <input type="text" th:field="*{firstName}">
            </label>
            </td>
        </tr>
        <tr>
            <td>
                <label>Last name:
                    <input type="text" th:field="*{lastName}">
                </label>
            </td>

        </tr>
        <tr>
            <td>
                <label>Upload avatar:
                    <input type="file" th:field="*{avatar}">
                </label>
            </td>
        </tr>
        <tr>
            <td>Province:
                <select th:field="*{province}">
                    <option th:each="p : ${provinces}" th:value="${p.id}" th:text="${p.name}"></option>
                </select>
            </td>
        </tr>
        <tr>
            <td>
                <input type="submit" value="create">
            </td>
        </tr>
    </table>




</form>
</body>
</html>