<!DOCTYPE html>
<html lang="en">
<html xmlns:th="http://www.thymeleaf.org">

<head>
    <meta charset="UTF-8">
    <title>delete customer</title>
</head>
<body>
delete customer
<form th:object="${customer}" method="post">
    <input type="hidden" th:field="*{id}">
    <label>First name:
        <input type="text" th:field="*{firstName}">
    </label>
    <label>Last name:
        <input type="text" th:field="*{lastName}">
    </label>
    <input type="submit" value="delete">
</form>
</body>
</html>