<!DOCTYPE html>
<html lang="en">
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>customer</title>
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css">
</head>
<body>
customer list
<a th:href="@{/customers/create}">Create New Customer</a>

<div class="container" th:object="${customers}">
    <form action="#" th:action="@{/customers/find}">
        <input type="text" name="key" th:value="${keyword}">
        <button type="submit">Search</button>
    </form>
    <div>
        <a th:href="@{'/customers/find'(page=${customers.number - 1},key=${keyword})}" th:if="${customers.hasPrevious()}">Previous</a>
        <span th:text="${customers.number + 1}"></span>/<span th:text="${customers.totalPages}"></span>
        <a th:href="@{'/customers/find'(page=${customers.number + 1},key=${keyword})}" th:if="${customers.hasNext()}">Next</a>
    </div>
    <table class="table" >
        <tr>
            <th>id</th>
            <th>avatar</th>
            <th>first name</th>
            <th>last name</th>
            <th>Province</th>
            <th th:colspan="2">Action</th>
        </tr>
        <tr th:each="customer: ${customers}">
            <td th:text="${customer.id}"></td>
            <td><img th:src="@{'/i/'+ ${customer.getAvatar()}}" width="100"/></td>
            <td th:text="${customer.firstName}"></td>
            <td th:text="${customer.lastName}"></td>
            <td th:text="${customer.getProvince().name}"></td>
            <td><a th:href="@{/customers/__${customer.id}__/edit}">edit</a> </td>
            <td><a th:href="@{/customers/__${customer.id}__/delete}">delete</a> </td>
        </tr>
    </table>
</div>
</body>
</html>