<!DOCTYPE html>
<html lang="en">
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>customer</title>
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css">
</head>
<body>
customer list
<a th:href="@{/customers/create}">Create New Customer</a>
<div class="container">
    <table class="table" th:object="${customers}">
        <tr>
            <th>id</th>
            <th>first name</th>
            <th>last name</th>
            <th th:colspan="2">Action</th>
        </tr>
        <tr th:each="customer: ${customers}">
            <td th:text="${customer.id}"></td>
            <td th:text="${customer.firstName}"></td>
            <td th:text="${customer.lastName}"></td>
            <td><a th:href="@{/customers/__${customer.id}__/edit}">edit</a> </td>
            <td><a th:href="@{/customers/__${customer.id}__/delete}">delete</a> </td>
        </tr>
    </table>
</div>
</body>
</html>