<!DOCTYPE html>
<html lang="en">
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>edit</title>
</head>
<body>

<h1>Create new Province</h1>
<a th:href="@{/provinces}">list Province</a>
<th:block th:if="${message}">
    <p th:text="${message}" style="color: green"></p>
</th:block>

<form th:action="@{/provinces/edit}" method="post" th:object="${province}">
    <input type="hidden" th:field="*{id}">
    <label>Name:
        <input type="text" th:field="*{name}">
    </label>
    <button type="submit" class="button">Edit</button>
</form>
</body>
</html>